body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #444;
    user-select: none;
}

.display{
    margin: 0;
    padding: 2vh 1vh;
    text-align: right;
    background-color: #ADA;
}

.display .dHead{
    padding-left: 1vh;
    color: #555;
    text-align: left;
    font-size: 4vh;
}

.display .dMain{
    padding: 1.5vh 0;
    font-size: 16vh;
    line-height: 14vh;
    overflow: hidden;
}

.display .dStatus{
    color: #FFF;
    font-size: 2.3vh;
    opacity: 0.5;
}

.display .dStatus > *{
    padding: 1.2vh 1.5vh;
    margin-left: 0.75vh;
    display: inline-block;
    border-radius: 1.2vh;
    background-color: #000;
}

.keypad{
    margin-top: 2vh;
    color: #FFF;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.key{
    margin: 0.5vh;
    padding: 2.5vh 0;
    font: 6vh monospace;
    color: #FFF;
    text-align: center;
    border-radius: 2.5vh;
    background-color: #888;
    border: 0;
    outline: none;
}

.key:active{
    background-color: #464;
}

.keyDouble{
    grid-column: span 2;
}

.kret{
    background-color: #093;
}

.kopr{
    background-color: #363;
}

.kfun{
    background-color: #485;
}

.ledOff{
    background-image: radial-gradient(circle at 2.5vh 2.5vh, #000 0%, #000 5.7%, transparent 5.9%, transparent 6%);
}

.ledOn{
    background-image: radial-gradient(circle at 2.5vh 2.5vh, #0F0 0%, #0F0 5.7%, transparent 5.9%, transparent 6%);
}
